@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: transparent ;
}
.notice-container {
    width: 420px;
    margin: 0 auto;
    padding: 30px 40px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"]
{
    width: 100%;
    padding: 10px ;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.notice-container .pdf{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.pdf input{
    width: 88px;
    height: 20px;
    margin-left: 20px;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #ccc;

}
.pdf i{
    position: absolute;
    height: 20px;
    left: 10px;
    top: 60%;
    transform: translate(-50%);
    font-size: 20px;
    outline: none;
    border: 1px solid #ccc;
    
}

.notice-container .btn {
    width: 50%;
    height: 45px;
    text-align: center;
    margin-top: 10px;
    margin-left: 100px;
    background:tomato;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}



